@page
@model IndexModel
@{
    ViewData["Title"] = @Model.stationName + " Arrivals";
}

<div class="page-heading text-center">
    <h1 class="display-4 transformOrange">@Model.stationName Arrivals</h1>
</div>

<br />



<div class="platforms-wrapper">
    @if (Model.platformNames != null)
    {
        foreach (var platformName in Model.platformNames)
        {
            <div class="platform-card">
                <h4>@platformName</h4>
                @if (Model.allPlatformArrivals != null)
                {
                    foreach (var arrival in Model.allPlatformArrivals[platformName].Take(8).ToList())
                    {
                        <div>
                            @if (arrival.timeToStation < 1)
                            {
                                <span>Due</span>
                            }
                            else
                            {
                                <span>@(arrival.timeToStation) min</span>
                            }
                            <span>@arrival.lineName</span>
                            <span>@arrival.towards</span>
                        </div>
                    }
                }
            </div>
        }
    }
</div>
